<div class="messenger-area">
  <div class="messenger">
    <div class="header">
      Bate papo

      <button class="btn btn-mini pull-right"><span class="ui-icon ui-icon-gear"></span></button>
    </div>
    <ul class="nav nav-list friendlist">
      <li>
        <a>
          <img class="avatar-small" src="/images/avatars/batman.jpg"> Batman
        </a>
      </li>
      <li>
        <a>
          <img class="avatar-small" src="/images/avatars/super-man.gif"> Super Man
        </a>
      </li>
      <li>
        <a>
          <img class="avatar-small" src="/images/icons/user-avatar.png"> Sací
        </a>
      </li>
    </ul>
    <div class="search-area">
      <input type="text" placeholder="Search">

    </div>
  </div>

  <div class="messenger-off">
    <span class="ui-icon ui-icon-person"></span>
    <span class="text"> Bate papo - (12)</span>

    <button class="btn btn-mini pull-right">
      <span class="ui-icon ui-icon-carat-1-n pull-right"></span>
    </button>

  </div>


</div>