# auto generated client side assets
public/javascripts/angular-controller.js
public/javascripts/application.js
public/javascripts/messenger.js
public/stylesheets/application.css


##

dump.rdb
lib-cov
*.log
*.csv
*.out
*.pid
pids
logs
results
node_modules
npm-debug.log
.idea
.DS_Store
log/*.log
.c9revisions
coverage.html
.settings
doc

.project
*~
