<div class="share-box-area span5">

<% form_for(post, {action: path_to.posts(), 'ng-submit': 'submit()', 'ng-controller': 'shareboxController'}, function (form) { %>

  <div>

        <%- form.textarea('content', {class: 'post-content'}) %>

  </div>
  <div >
    <span>Images</span>
    <span>Link</span>
    <span>Events</span>
  </div>


    <div>
        <%- form.input('to') %>
    </div>

    <div>
      <%- form.submit('<i class="icon-ok icon-white"></i> Share', {class: 'btn btn-primary'}) %>
       or
   <%- linkTo('Cancel', pathTo.posts(), {class: 'btn'}) %>
    </div>




<% }); %>

</div>