<ul class="breadcrumb">
    <li><a href="/">Home</a> <span class="divider">/</span></li>
    <li class="active"><a href="<%- pathTo.users() %>">users</a> <span class="divider">/</span></li>
</ul>

<div class=""><div class="row">
    <div class="span6">
        <form action="/login" method="post" class="signin form-horizontal ng-pristine ng-valid">
            <p class="error">
            </p>
            <div class="control-group">
                <label for="email" class="control-label">Email</label>
                <div class="controls">
                    <input id="email" type="text" name="email" placeholder="Email">
                </div>
            </div>
            <div class="control-group">
                <label for="password" class="control-label">Password</label>
                <div class="controls">
                    <input id="password" type="password" name="password" placeholder="Password">
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Sign in</button>&nbsp;or&nbsp;<a href="/signup" class="show-signup">Sign up</a>
            </div>
        </form>
    </div>

    <div class="offset1 span5">
        <a href="/auth/facebook">
            <img src="/images/icons/facebook.png">
        </a>
        <a href="/auth/github">
            <img src="/images/icons/github.png">
        </a>
        <a href="/auth/twitter">
            <img src="/images/icons/twitter.png">
        </a>
        <a href="/auth/google">
            <img src="/images/icons/google.png">
        </a>
    </div>

</div></div>