<div class="image span3">
    <div class="header">
        Created by
        <% if(image.creator){ %>
          <%- link_to( image.creator.displayName,  pathTo.user(image.creator) ) %>
        <% } else { %>
            Anonimous
        <% } %>
    </div>
        <%- link_to('<img src="/media/galleries/images/' + image.image.name + '">', pathTo.image(image.image) , {class: 'image-link'}) %>
    <div class="footer">
        <%- link_to('<i class="icon-edit"></i> Edit', pathTo.edit_image(image.image), {class: 'btn btn-mini'}) %>
        <%- link_to('<i class="icon-remove icon-white"></i> Delete', pathTo.image(image.image), {class: 'btn btn-mini btn-danger', method: 'delete', remote: true, jsonp: '(function (u) {location.href = u;})'}) %>
    </div>
</div>