<%- errorMessagesFor(post) %>
<div class="control-group">
   <%- form.label("content", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.textarea("content",{ rows: '20'}) %>
   </div>
</div>

