<ul class="breadcrumb">
    <li><a href="/">Home</a> <span class="divider">/</span></li>
    <li class="active"><a href="<%- pathTo.posts() %>">posts</a> <span class="divider">/</span></li>
</ul>

<div class="row">
    <div class="posts span8">
        <% if(user){ %>
            <% include partials/share_box_form.ejs %>
        <% } %>

        <% posts.forEach(function (post) { %>
            <% include partials/post.ejs %>
        <% }); %>

    </div>

</div>

<div class="row">
    <p><%- link_to('<i class="icon-plus icon-white"></i> New post', pathTo.new_post(), {class: 'btn btn-primary'}) %></>
</div>

