<ul class="breadcrumb">
    <li><a href="/">Home</a> <span class="divider">/</span></li>
    <li class="active"><a href="<%- pathTo.posts() %>">posts</a> <span class="divider">/</span></li>
</ul>

<div class="row">
    <% if(user){ %>
        <% include partials/share_box_form.ejs %>
    <% } %>

    <div data-ng-controller="postsController"  class="posts span8">
        <div data-ng-repeat="post in posts" class="post span5">
            <header class="clearfix post-header">
                <a class="avatar thumbnail">
                    <img src="/images/icons/user-avatar.png">
                </a>
                <h4 class="username">
                    <a>{{post.author.username}}</a>
                </h4>
                <span class="subject">
                    <a>Compartilhada publicamente</a>  -
                    <span class="createdAt">{{post.createdAt}}</span>
                </span>
            </header>
            <div class="content">{{post.content}}</div>
            <div class="footer">
                <div class="actions">
                    <span class="social pull-left">
                        <a class="btn btn-mini "><i class="icon-thumbs-up"></i></a>
                        <a class="btn btn-mini "><i class="icon-thumbs-down"></i></a>
                    </span>

                    <a class="btn btn-mini" data-ng-click="share($event)"><i class="icon-share-alt"></i> Share</a>
                    <%- link_to('<i class="icon-edit"></i> Edit', pathTo.edit_post(post), {class: 'btn btn-mini', 'data-ng-click':'edit($event)' }) %>
                    <%- link_to('<i class="icon-remove icon-white"></i> Delete', pathTo.post(post), {class: 'btn btn-mini btn-danger', method: 'delete', 'data-ng-click':'delete($event)' , remote: true, jsonp: '(function (u) {location.href = u;})'}) %>
                </div>

                <div class="comments">

                </div>
                <div class="comment-add">
                    <img class="avatar-small pull-left" src="/images/icons/user-avatar.png">
                    <div class="comment-add-buttom" role="button">Comentar...</div>
                </div>
            </div>
        </div>


    </div>

</div>


<div class="row">
    <div class="posts span8">

        <% posts.forEach(function (post) { %>
            <% include partials/post.ejs %>
        <% }); %>

    </div>

</div>

<div class="row">
    <p><%- link_to('<i class="icon-plus icon-white"></i> New post', pathTo.new_post(), {class: 'btn btn-primary'}) %></>
</div>

